@model IEnumerable<WebApplicationBlowout.Models.Reserva>

@{
    ViewBag.Title = "ListaReservas";
}

<h2>Lista Reservas</h2>

<p>
    @Html.ActionLink("Crear Reserva", "CrearReserva","Operador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPersonas)
        </th>
        <th>
           
            @Html.DisplayNameFor(model => model.Fecha1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
          
            @Html.DisplayFor(modelItem => item.Fecha1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPersonas)
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Modificar" class="btn btn-default" />
                    <input type="submit" value="Aceptar" class="btn btn-default" />
                    <input type="submit" value="Cancelar" class="btn btn-default" />
                </div>
            </div>
        </td>
    </tr>
}

</table>
